@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
@keyframes fadeOut{
    25%{
        background-color: #404040;
    }
    50%{
        background-color: #7f7f7f;
    }
    75%{
        background-color: #bfbfbf
    }
    100%{
        background-color: #ffffff
    }
}
@font-face {
    font-family: "Rondo";
    src: url(./fonts/Rondo\ MN\ Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    display: flex;
    flex-direction: column;
    height: 97vh;
    justify-content: space-between;
    align-items: center;
}
.etch-a-sketch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    border-radius: 36px;
    min-height: 700px;
    min-width: 760px;
}
.title{
    font-size: 48px;
    font-family: "Rondo";
}
.grid{
    display: flex;
    border: 2px solid black;
    background-color: white;
}
.grid > .row > .tile{
    width: 18px;
    height: 18px;
    border: 1px solid black;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.left-wheel, .right-wheel{
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-button:hover{
    transition: ease 0.07s all;
    transform: scale(1.2);
    background-color: rgba(211,211,211, 1);
    cursor: pointer;
}
.reset-button{
    padding: 6px;
    font-family: "Lato";
    border-radius: 10px;
}
.copyright{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.name{
    font-family: "Lato";
}

.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
button{
    text-decoration: none;
    border: 1px solid darkred;
    border-radius: 10px;
    margin: 4px 0;  
    font-family: "Lato";
}
button:hover{
    transition: ease 0.07s all;
    transform: scale(1.1);
    background-color: rgba(211,211,211, 1);
}
.colors-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: white;
}
.red{
    background-color: red;
    font-family: "Lato";
    color: white;
}
.green{
    background-color: green;
    font-family: "Lato";
    color: white;
}
.blue{
    background-color: blue;
    font-family: "Lato";
    color: white;
}
.purple{
    background-color: purple;
    font-family: "Lato";
    color: white;
}
.yellow{
    background-color: yellow;
    font-family: "Lato";
    color: black    
}
.orange{
    background-color: orange;
    font-family: "Lato";
    color: black;
}
.black{
    color: white;
    background-color: black;
}
.psychadelic{
    background-image: linear-gradient(to right, orange, green, teal, yellow);
    color: black;
}
.github-link:hover{
    transition: ease .5s all;
    transform: rotate(360deg) scale(1.2);

}