@font-face {
    font-family: "Rondo";
    src: url(./fonts/Rondo\ MN\ Regular.ttf);
}
body{
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;
}
.etch-a-sketch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: red;
    border-radius: 36px;
}
.title{
    padding-top: 28px;
    font-size: 48px;
    font-family: "Rondo";
}
.grid{
    display: flex;
    margin: 28px 60px;
    border: 2px solid black;
    background-color: white;
}
.grid > .row > div{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}